extends layout/layout

block content
    div.container.mt-5
        div.row
            div.col-12
                ul
                    li.pb-3
                        a(href="index.html") TGA_Main
                        p <b>Eksikler</b>: Mobile k覺r覺l覺mda Yatay scroll
                    li.pb-3
                        a(href="events.html") TGA_EventList
                    li.pb-3
                        a(href="event-detail.html") TGA_EventDetail - Active
                        p <b>Eksikler</b>: Gallery Alan覺
                    li.pb-3
                        a(href="event-detail-passive.html") TGA_EventDetail - Passive
                    li.pb-3
                        a(href="event-detail-more-date.html") TGA_EventDetail - More Date
                    li.pb-3
                        a(href="places.html") TGA_Places
                    li.pb-3
                        a(href="places-detail.html") TGA_PlacesDetail
                    li.pb-3
                        a(href="places-detail-passive.html") TGA_PlacesDetail - Passive
                    li.pb-3
                        a(href="login.html") TGA_Login
                    li.pb-3
                        a(href="login-timer.html") TGA_Login_Timer
                    li.pb-3
                        a(href="login-fields.html") TGA_Login_Fields





