div.footer
    div.container
        div.row
            div.col-6.col-md-2.footer-nav.links-1
                p Kültür Yolu
                ul
                    li
                        a(href="#", class="t-link") Kültür Yolu Nedir?
                    li
                        a(href="#", class="t-link") Haberler
                    li
                        a(href="#", class="t-link") İletişim
            div.col-6.col-md-2.footer-nav.links-1
                p Üyelik
                ul
                    li
                        a(href="#", class="t-link") Hesap Oluştur
                    li
                        a(href="#", class="t-link") Gizlilik Sözleşmesi
                    li
                        a(href="#", class="t-link") Üyelik Sözleşmesi
            div.col-12.col-md-4.footer-nav.social-media-links
                p Sosyal Medya
                ul.social-media
                    li
                        a(href="#", class="youtube")
                            em.icon.icon-youtube
                    li
                        a(href="#", class="instagram")
                            em.icon.icon-instagram
                    li
                        a(href="#", class="twitter")
                            em.icon.icon-twitter
                    li
                        a(href="#", class="facebook")
                            em.icon.icon-facebook
            div.col-12.col-md-4.d-flex.justify-content-md-end.justify-content-center.tga-logo
                img.img(src=prefix + "/images/footer-logos.png", class="footer-logos" width='243', height='80')


    div.footer-mobile-menu.d-md-none
        div.container
            div.row
                div.col.d-flex.justify-content-between
                    a(href="events.html", class="selected")
                        em.icon.icon-events
                        span Etkinlikler
                    a(href="#")
                        em.icon.icon-place
                        span Mekanlar
                    a(href="#")
                        em.icon.icon-favorite
                        span Favoriler
                    a(href="#header-menu", class="fancy-box-item-header")
                        em.icon.icon-hamburger-menu
                        span Menu