div.d-none.header-search-area-categories
    p Etkinlik Kategorileri
    ul.d-flex
        li.selected
            button Tümü
        li
            button Sergi
        li
            button Tiyatro
        li
            button Sinema
        li
            button Söyleşi
    p Etkinlik Zamanı
    table
        tr
            td
                button Bugün
            td
                button Yarın
        tr
            td
                button Bu Hafta
            td
                button Bu Hafta Sonu
        tr
            td
                button Gelecek Hafta
            td
                button İleri Tarihler
        tr
            td(colspan="2")
                button Geçmiş Tarihler

