div.d-none
    div#header-menu.d-flex.align-content-between.flex-wrap
        div.vw-100
            div.user-information
                p.name-surname Erol Börek
                p.telephone +90 (532) 200 00 00
            p.title Kültür Yolu
            ul.header-text-links
                li
                    a(href="")
                        span Kültür Yolu Nedir?
                        em.icon.icon-next

                li
                    a(href="")
                        span Haberler
                        em.icon.icon-next
                li
                    a(href="")
                        span İletişim
                        em.icon.icon-next

            p.title Üyelik
                ul.header-text-links
                    li
                        a(href="")
                            span Gizlilik Sözleşmesi
                            em.icon.icon-next

                    li
                        a(href="")
                            span Üyelik Sözleşmesi
                            em.icon.icon-next
            a(href="#", class="login-exit")
                em.icon.icon-login-exit
                span Çıkış Yap

        include footer